
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/New_Course_Layout.cshtml";
}


    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <section class="content-header sty-one">
            <h1 class="text-black" >
                Courses
            </h1>
            <ol class="breadcrumb">
                <li><a href="/Home/Index">Home</a></li>
               
                <li><i class="fa fa-angle-right"></i> COURSES</li>
            </ol>
        </section>

        @*<table id="tblPropertyAssessedResult" class="table table-bordered table-responsive table-striped table-hover" >
            <thead>
                <tr>
                    <th>
                        <span>Year</span>
                    </th>
                    <th>
                        <span>Assessed Value</span>
                    </th>
                    <th>
                        <span>FMV .15</span>
                    </th>
                    <th>
                        <span>FMV .16</span>
                    </th>
                   
                </tr>
            </thead>
            <tr ng-repeat="property in clientYearSetup">
              
                <td>
                    {{property.CourseID}}
                </td>
                <td>{{property.CourseName}}</td>
                <td>{{property.CourseDuration}}</td>
                <td>{{property.CourseStartDate}}</td>
               
            </tr>
        </table>*@


        <div class="row">
            <div class="col-12">
                @*<h1 style="color:rgb(53, 53, 53); font-weight:bold;">COURSES</h1>*@

                <form id="myform">
                   
                    <div class="form-row">

                        <div class="col-lg-3">
                            <fieldset class="form-group">
                                <label>Course Name</label>
                                <input type="text" ng-model="CourseName" class="form-control" id="basicInput" placeholder="Course Name">

                            </fieldset>
                        </div>



                        @*<div class="form-group col-3">
                            <label>Course Name</label>
                            <input type="text" ng-model="CourseName" class="form-control" placeholder="Course Name" >
                        </div>*@

                        <div class="col-lg-3">
                            <fieldset class="form-group">
                                <label>Course Duration</label>
                                <input type="text" ng-model="CourseDuration" class="form-control" id="basicInput" placeholder="Course Duration">

                            </fieldset>
                        </div>

                        @*<div class="form-group col-3">
                            <label>Course Duration</label>
                            <input type="text" ng-model="CourseDuration" class="form-control" placeholder="Course Duration" >
                        </div>*@

                        <div class="col-lg-3">
                            <fieldset class="form-group">
                                <label>Date</label>
                                <input type="date" ng-model="CourseStartDate" class="form-control" value="//-//-//">

                            </fieldset>
                        </div>


                        @*<div class="form-group col-3">
                            <label>Date</label>
                            <div>
                                <input  ng-model="CourseStartDate" class="form-control" type="date" value="//-//-//" >
                            </div>
                        </div>*@


                        <div class="col-lg-3">
                            <fieldset class="form-group">
                                <label>Teacher Username </label>
                                <select id="selectedTeacher" ng-model="selectedTeacher" class="form-control">



                                    <option ng-repeat="x in getAllTeachers" value="{{x.Username}}">{{x.Username}}</option>


                                </select>

                            </fieldset>
                        </div>

                        @*<div class="form-group col-3">
                            <label> Teacher Username </label>

                            <select id="selectedTeacher" ng-model="selectedTeacher" class="form-control">



                                <option ng-repeat="x in getAllTeachers" value="{{x.Username}}">{{x.Username}}</option>


                            </select>
                        </div>*@



                        </div>

                    <button type="submit" ng-click="AddCourses()"  class="btn btn-primary">SUBMIT</button>
                </form>
                <br />
                <div class="alert alert-success alert-block" ng-show="isSuccess">
                  
                    <h6 class="alert-heading">{{successMessage}}</h6>
                </div>
                <div class="alert alert-danger alert-block" ng-show="isError">
                    <h6 class="alert-heading">{{errormessage}}</h6>
                </div>


                <!-- Example DataTables Card-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table "></i><span style="color:#2f3742; font-weight:bold;"> Courses </span> Table
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-sm ">
                            <table class="table table-striped table-bordered" cellspacing="0">
                                <thead class="bg-blue-gradient text-black" style="font-weight:normal">
                                    <tr>
                                        <th>COURSE NAME</th>
                                        <th>COURSE DURATION</th>
                                        <th>DATE</th>
                                        <th>Teacher Username</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in getAllCourses">

                                       
                                        <td>{{x.CourseName}}</td>
                                        <td>{{x.CourseDuration}}</td>
                                        <td>{{x.CourseStartDate | date:'MM/dd/yyyy'}}</td>
                                        <td>{{x.TeacherUsername}}</td>

                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    @*<script>
        function myFun() {
            document.getElementById("myform").reset();
            alert("Save Success");
        }
    </script>*@

