
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/New_Course_Layout.cshtml";
}

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <section class="content-header sty-one">
            <h1 class="text-black">
                Admin
            </h1>
            <ol class="breadcrumb">
                <li><a href="/Home/Index">Home</a></li>

                <li><i class="fa fa-angle-right"></i> Admin</li>
            </ol>
        </section>
        <div class="row">
            <div class="col-12">
                <h1 style="color:#868e96; font-weight:bold;">Blank</h1>
                <p>This is an example of a blank page that you can use as a starting point for creating new ones.</p>  
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-hand-right"></i> </span>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>





















