
@{
    ViewBag.Title = "CourseModule";
    Layout = "~/Views/Shared/New_Course_Layout.cshtml";
}


    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <section class="content-header sty-one">
            <h1 class="text-black">
                Course Module <i style="font-size:x-large" class="fa fa-cubes"></i>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/Home/Index">Home</a></li>

                <li><i class="fa fa-angle-right"></i> Course Module</li>
            </ol>
        </section>


        <form ng-show="isAdmin"  id="myform" class="form-horizontal">
            <div class="row">
                <div class="col-12">

                    @*<H1 style="color:rgb(53, 53, 53); font-weight:bold;">Course Module</H1>*@
                 
                    <div class="col-lg-3">
                        <fieldset class="form-group">
                            <label>COURSE NAME: </label>
                            <select id="selectedCourses" ng-model="selectedCourses" class="selectpicker">



                                <option ng-repeat="x in getAllCourses" value="{{x.CourseID}}">{{x.CourseName}}</option>


                            </select>

                        </fieldset>
                    </div>




                    @*<label> COURSE NAME: </label>

                    <select  id="selectedCourses" ng-model="selectedCourses" class="selectpicker col-3">



                        <option ng-repeat="x in getAllCourses" value="{{x.CourseID}}">{{x.CourseName}}</option>


                    </select>*@
                    <br />


                    <div class="widget-box">
                        <div class="widget-title">

                            <h5>MODULE NAME</h5>
                        </div>
                        <div class="widget-content nopadding">


                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <select ng-model="selectedModules" id="selectedModules" multiple>
                                        <option ng-repeat="x in getAllModules" value="{{x.ModuleId}}">{{x.ModuleName}}</option>

                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="form-actions">
                                <input type="submit" ng-click="InsertCourseModule()" value="SAVE" class="btn btn-default bg-teal text-black">

                            </div>
                            <br />
                            <div class="alert alert-success alert-block" ng-show="isSuccess">

                                <h6 class="alert-heading">{{successMessage}}</h6>
                            </div>
                            <div class="alert alert-danger alert-block" ng-show="isError">
                                <h6 class="alert-heading">{{errormessage}}</h6>
                            </div>


                            <!-- Example DataTables Card-->
                            <div class="card mb-3 ">
                                <div class="card-header">
                                    <i class="fa fa-table "></i><span style="color:#2f3742; font-weight:bold;"> Course-Module </span> Table
                                </div>
                                <div class="card-body ">
                                    <div class="table-responsive table-sm">
                                        <table class="table table-bordered table-striped" cellspacing="0">
                                            <thead class="bg-teal-gradient text-black" style="font-weight:normal">
                                                <tr>
                                                    @*<th>COURSE ID</th>*@
                                                    <th>COURSE NAME</th>
                                                    @*<th>MODULE ID</th>*@
                                                    <th>MODULE NAME</th>
                                                    <th>VIEW CONTENT</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in getAllCourseModules | filter:query | orderBy:['CourseName','orderProp']  ">

                                                    @*<td>{{x.CourseId}}</td>*@
                                                    <td>{{x.CourseName}}</td>
                                                    @*<td>{{x.GetModuleId}}</td>*@
                                                    <td>{{x.ModuleName}}</td>
                                                    <td><a href="" ng-click="ShowContent(x.CourseName,x.ModuleName,x.GetModuleId)">View Content</a></td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                     


                      

                    </div>
                </div>

            </div>
        </form>

        <form  ng-show="isTeacher" id="myform" class="form-horizontal">
            <div class="row">
                <div class="col-12">

                    @*<H1 style="color:rgb(53, 53, 53); font-weight:bold;">Course Module</H1>*@
                  
                    <div class="col-lg-3">
                        <fieldset class="form-group">
                            <label> COURSE NAME: </label>
                            <select id="selectedTeacherCourses" ng-model="selectedTeacherCourses" class="selectpicker ">



                                <option ng-repeat="x in getAllSingleTeachersCourses" value="{{x.CourseID}}">{{x.CourseName}}</option>


                            </select>

                        </fieldset>
                    </div>





                    @*<label>COURSE NAME:  </label>

                    <select id="selectedTeacherCourses" ng-model="selectedTeacherCourses" class="selectpicker ">



                        <option ng-repeat="x in getAllSingleTeachersCourses" value="{{x.CourseID}}">{{x.CourseName}}</option>


                    </select>*@
                   
                    <div class="col-lg-3">
                        <label>Module Name</label>
                        <input type="text" required ng-model="TModuleName" class="form-control" placeholder="MODULE NAME">
                    </div>

                    <div class="widget-box">
                      
                        <div class="widget-content nopadding">


                            @*<div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <select ng-model="selectedModules" id="selectedModules" multiple>
                                        <option ng-repeat="x in getAllModules" value="{{x.ModuleId}}">{{x.ModuleName}}</option>

                                    </select>
                                </div>
                            </div>*@

                          
                            <br />
                            <div class="form-actions">
                                <input type="submit" ng-click="InsertCourseModuleForTeacher()" value="SAVE" class="btn btn-default bg-teal text-black">

                            </div>
                            <br />
                            <div class="alert alert-success alert-block" ng-show="isSuccess">

                                <h6 class="alert-heading">{{successMessage}}</h6>
                            </div>
                            <div class="alert alert-danger alert-block" ng-show="isError">
                                <h6 class="alert-heading">{{errormessage}}</h6>
                            </div>


                            <!-- Example DataTables Card-->
                            <div class="card mb-3 ">
                                <div class="card-header">
                                    <i class="fa fa-table "></i><span style="color:#2f3742; font-weight:bold;"> Course-Module </span> Table
                                </div>
                                <div class="card-body ">
                                    <div class="table-responsive table-sm">
                                        <table class="table table-bordered table-striped" cellspacing="0">
                                            <thead class="bg-teal-gradient text-black" style="font-weight:normal">
                                                <tr>
                                                    @*<th>COURSE ID</th>*@
                                                    <th>COURSE NAME</th>
                                                    @*<th>MODULE ID</th>*@
                                                    <th>MODULE NAME</th>
                                                    <th>VIEW CONTENT</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in getAllCourseModulesForTeacher | filter:query | orderBy:['CourseName','orderProp']  ">

                                                    @*<td>{{x.CourseId}}</td>*@
                                                    <td>{{x.CourseName}}</td>
                                                    @*<td>{{x.GetModuleId}}</td>*@
                                                    <td>{{x.ModuleName}}</td>
                                                    <td><a href="" ng-click="ShowContent(x.CourseName,x.ModuleName,x.GetModuleId)" >View Content</a></td>


                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>






                    </div>
                </div>

            </div>
        </form>

        <script type="text/ng-template" id="ShowContent.html">

            <div class="modal-header">

                <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <a style="color:white" class="btn btn-primary" href="" ng-click="uploadContent()">Upload A New Content</a>
                <br /><br />
                @*<div style="margin-left:20px;" class="card-block">
                    
                    <span ng-repeat="x in GetModuleContentDropboxApi" ng-show=" x.name.split('.').pop().toLowerCase() != 'mp4' && x.name.split('.').pop().toLowerCase() == 'pdf'">
            <a style="text-decoration:none;color:black;font-size:large" href="" ng-click="fileClick($event,x.path_display,x1.CourseName,x1.ModuleName,x1.ModuleId,x1.CourseId)"><i class="fa fa-file-pdf-o" aria-hidden="true" style="color:red;font-size:x-large"></i>&nbsp;  {{x.name}}</a> &nbsp; <span ng-repeat="x3 in GetContent" ng-if="x3.ContentName == x.name"><i class="fa fa-check" aria-hidden="true" style="color:green;font-size:x-large"></i></span><a href="" ng-click="AddTODB()" >Add</a> <br /> <br /></span>

            <span ng-repeat="x in GetModuleContentDropboxApi" ng-show="x.name.split('.').pop().toLowerCase() == 'mp4' && x.name.split('.').pop().toLowerCase() != 'pdf' ">
            <a style="text-decoration:none;color:black;font-size:large" href="" ng-click="videoClick($event,x.path_display,x1.CourseName,x1.ModuleName,x1.ModuleId,x1.CourseId)"><i class="fa fa-play-circle-o" aria-hidden="true" style="color:grey;font-size:x-large"></i>&nbsp;   {{x.name}}</a> &nbsp; <span ng-repeat="x3 in GetContent" ng-if="x3.ContentName == x.name"><i class="fa fa-check" aria-hidden="true" style="color:green;font-size:x-large"></i></span><a href=""ng-click="AddTODB()" >Add</a><br /> <br /></span>
                </div>*@


                    <div  ng-show="showtable" class="card mb-3 ">
                        <div class="card-header">
                            <i class="fa fa-table "></i><span style="color:#2f3742; font-weight:bold;"> DROPBOX CONTENT </span> 
                        </div>

                        <div class="card-body ">
                            <div class="table-responsive table-sm">
                                <table class="table table-bordered table-striped" cellspacing="0">
                                    <thead class="bg-blue-gradient text-black" style="font-weight:normal">
                                        <tr>
                                          
                                            <th>DROPBOX CONTENT NAME</th>
                                            <th>TITLE</th>
                                            <th>IN DATABASE</th>
                                            <th>DATABASE ACTION</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  ng-repeat="x in GetModuleContentDropboxApi">

                                           
                                            <td ng-show=" x.name.split('.').pop().toLowerCase() != 'mp4' && x.name.split('.').pop().toLowerCase() == 'pdf'" ><a style="text-decoration:none;color:black;font-size:large" href="" ng-click="fileClick($event,x.path_display)"><i class="fa fa-file-pdf-o" aria-hidden="true" style="color:red;font-size:x-large"></i>&nbsp;  {{x.name}}</a></td>
                                            <td ng-show="x.name.split('.').pop().toLowerCase() == 'mp4' && x.name.split('.').pop().toLowerCase() != 'pdf' "><a style="text-decoration:none;color:black;font-size:large" href="" ng-click="videoClick($event,x.path_display)"><i class="fa fa-play-circle-o" aria-hidden="true" style="color:grey;font-size:x-large"></i>&nbsp;   {{x.name}}</a></td>

                                            <td ng-show=" x.name.split('.').pop().toLowerCase() != 'mp4' && x.name.split('.').pop().toLowerCase() == 'pdf'"><span ng-repeat="x3 in GetContent" ng-if="x3.ContentName == x.name">{{ x3.ContentTitle}}</span></td>
                                            <td ng-show="x.name.split('.').pop().toLowerCase() == 'mp4' && x.name.split('.').pop().toLowerCase() != 'pdf' "><span ng-repeat="x3 in GetContent" ng-if="x3.ContentName == x.name">{{ x3.ContentTitle}}</span></td>

                                            <td ng-show=" x.name.split('.').pop().toLowerCase() != 'mp4' && x.name.split('.').pop().toLowerCase() == 'pdf'"><span  ng-repeat="x3 in GetContent" ng-if="x3.ContentName == x.name"><i class="fa fa-check" aria-hidden="true" style="color:green;font-size:x-large"></i></span></td>
                                            <td ng-show="x.name.split('.').pop().toLowerCase() == 'mp4' && x.name.split('.').pop().toLowerCase() != 'pdf' "><span ng-repeat="x3 in GetContent" ng-if="x3.ContentName == x.name"><i class="fa fa-check" aria-hidden="true" style="color:green;font-size:x-large"></i></span></td>

                                            <td ng-show=" x.name.split('.').pop().toLowerCase() != 'mp4' && x.name.split('.').pop().toLowerCase() == 'pdf'"><span ng-repeat="x3 in GetContent" ng-if="x3.ContentName == x.name"><a href="" ng-click="AddTODB(x.name,x3.ContentTitle)">Add</a></span></td>
                                            <td ng-show="x.name.split('.').pop().toLowerCase() == 'mp4' && x.name.split('.').pop().toLowerCase() != 'pdf' "><span ng-repeat="x3 in GetContent" ng-if="x3.ContentName == x.name"><a href="" ng-click="AddTODB(x.name,x3.ContentTitle)">Add</a></span></td>


                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                <div class="alert alert-danger alert-block" ng-show="showerror">

                    <h6 class="alert-heading">No Content Found...</h6>
                </div>

                    @*<span *ngIf="false; then login">sfsf</span>*@
                 

                    <br /><br />
               
            
            </div>
            <div class="modal-footer">
                @*<button class="btn btn-primary" type="button" ng-click="">Save</button>*@
                @*<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>*@
                <button class="btn btn-primary" type="button" ng-click="cancel()">Ok</button>
            </div>

        </script>


        <script type="text/ng-template" id="UploadContent.html">

            <div class="modal-header">

                <h4 class="modal-title" >{{modalTitle}}</h4>
            </div>
            <div class="modal-body">
           
             @using (Html.BeginForm("upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploader5" }))
             {
                <label> Title NAME: </label>
                <input  ng-model="filename" name="filename" id="filename" type="text">
                <input  ng-model="Attachment"  name="file" id="file" type="file"><br /><br />

                  <input type="button" class="btn btn-primary"   value="Upload" ng-click="submit()" name="filebtn" />
                  <br /><br /><br />
                <div id="isSuccess1" >

                 
                </div>

                <img id="loadingImg" style="display:none" src="~/Content/Logo/loader-bar.gif" />
                         
             }

                <div class="alert alert-warning  text-black" role="alert" style="font-weight:500"> * File Size Should Be Less Than 150 MB.  </div>
                
                <div class="alert alert-warning  text-black" role="alert" style="font-weight:500"> * Only PDF And MP4 File Are Allowed.  </div>
                
                <div class="alert alert-warning  text-black" role="alert" style="font-weight:500"> * If File Size Greater Than 150 MB Please Use Dropbox  Explorer To Upload File. </div>


                    @*<form id="uploader">
                <input id="fileInput" type="file" multiple>
                <input type="submit" value="Upload file" />
            </form>*@

</div>
            <div class="modal-footer">
                @*<button class="btn btn-primary" type="button" ng-click="">Save</button>*@
                @*<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>*@
                <button class="btn btn-primary" type="button" ng-click="cancel()">Ok</button>
            </div>

        </script>


        <script type="text/ng-template" id="AddToDB.html">

            <div class="modal-header">

                <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
            <div class="modal-body">

                    <label> Title NAME: </label>
                    <input ng-model="titlename" name="filename" id="filename" type="text">
                   <br /><br />

                    <input type="button" class="btn btn-primary" value="Add" ng-click="add()" name="filebtn" />
                <br /><br />

                 
                <div class="alert alert-success alert-block" ng-show="isSuccess">

                    <h6 class="alert-heading">{{successMessage}}</h6>
                </div>
                <div class="alert alert-danger alert-block" ng-show="isError">
                    <h6 class="alert-heading">{{errormessage}}</h6>
                </div>
             
          

                @*<form id="uploader">
                    <input id="fileInput" type="file" multiple>
                    <input type="submit" value="Upload file" />
                </form>*@

            </div>
            <div class="modal-footer">
                @*<button class="btn btn-primary" type="button" ng-click="">Save</button>*@
                @*<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>*@
                <button class="btn btn-primary" type="button" ng-click="cancel()">Ok</button>
            </div>

        </script>



        <script type="text/ng-template" id="myModal.html">
            <div id="my-modal-{{id}}" click-outside="cancel()">
                <div class="modal-header">
                    <h3 class="modal-title">{{title}}</h3>
                </div>
                <div class="modal-body">
                    <div class="media">
                        <video style="width:100%;height:100%;" controls autoplay ng-src="{{videoSource | trustUrl}}"></video>
                    </div>

                    @*<iframe  style="width:100%;height:100%;" ng-src="{{videoSource | trustUrl}}" ></iframe>*@
                    @*<pre>src = {{videoSource | trustUrl}}</pre>*@
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                    @*<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>*@
                </div>
            </div>
        </script>
    </div>




   




